<html>
  <head>
    <title>Weather forecast</title>
  </head>
  <body>
    <div>
      Dear {{name}} here the weather forecast for date: {{date}} for Location({{latitude}},{{longitude}}).
    </div>
    <div>
      <img src='{{weatherIcon}}' alt='weatherIcon' />
    </div>
    <div>
      Temperature {{temperature}} &#8451; ({{temperatureDiff}} &#8451;)
    </div>
    <div>
      Wind speed {{windSpeed}} m/s ({{windSpeedDiff}} m/s)
    </div>
  </body>
</html>